<div>
  <table class="game_record">
    All these games can be found on my <a href="https://retrobitcoder.itch.io/" target="_blank">Itch.io store</a>.
    {% for item in site.data.arduboy_games %}
    <tr class="game_record">
      <th class="game_record"><img src="{{ item.image }}" alt="{{ item.name }}" align="middle"></th>
      <th class="game_record"><a class="game_link" href="{{ site.github.url }}{{ item.page }}"> {{ item.name }} </a></th>
      <th class="game_record">{{ item.blurb }}</th>
      <th class="game_record"><a class="game_link" href="{{ item.release }}"> Download </a></th>
    </tr>
  {% endfor %}
  </table>
</div>
