h1 {
 text-align: center; 
}

.game_record {
 margin: auto;
 width: 50%;
 border: 1px solid black;
 padding: 10px;
}

.vl {
 border-left: 1px solid black;
 height: 64px;
 position: absolute;
 left: 50%;
 margin-left: -3px;
 top: 0;
}

.current {
  color: green;
}
